<h1> <%= @comic.title  %> </h1>


<img src="https://static.comicvine.com/uploads/scale_small/0/6060/160636-18058-112068-1-detective-comics.jpg" style="width:300px;height:360px;"><br>


Number of issues: <%= @comic.issues.length %>
